.productDetails {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.productTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.productSubtitle {
  color: #888;
  margin-bottom: 20px;
}

.productPriceSection {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.currentPrice {
  font-size: 20px;
  color: #ff5723;
  font-weight: bold;
}

.originalPrice {
  text-decoration: line-through;
  color: #888;
}

.discount {
  color: #28a745;
  font-weight: bold;
}

.priceInfo {
  font-size: 12px;
  color: #555;
  margin-bottom: 20px;
}

.sizeSelector h4,
.quantitySection h4,
.deliveryDetails h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.quantityHeading {
  margin-top: 8px;
  margin-bottom: 0px
}

.deliveryHeading {
  display: flex;
  justify-content: space-between;
}

.sizeOptions {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.sizeButton {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  &.active {
    background-color: #ff5723;
    color: white;
    border: 1px solid #ff5723;
  }
}

.quantitySection {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.quantityButton {
  padding: 5px 10px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background-color: #f0f0f0;
  }
}

.buttonsSection {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.addToCartButton {
  flex: 1;
  padding: 10px;
  background-color: #ff5723;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #e64a19;
  }
}

.addToWishlistButton {
  flex: 1;
  padding: 10px;
  background-color: #ddd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
}

.deliveryDetails {
  margin-bottom: 20px;
}

.deliveryInputs {
  display: flex;
  gap: 10px;
}

.pincodeInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.checkPincodeButton {
  padding: 10px 20px;
  background-color: #ff5723;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #e64a19;
  }
}
