// styles/Category.module.scss
.main {
  padding: 20px;

  @media (max-width: 768px) {
    padding: 10px; // Reduce padding for mobile
  }
}

.layout {
  display: flex;
  flex-direction: column; // Stack layout vertically on small screens

  @media (min-width: 768px) {
    flex-direction: row; // Use row layout on larger screens
  }
}

.sidebar {
  width: 100%; // Full width on mobile

  @media (min-width: 768px) {
    width: 250px; // Sidebar width for larger screens
  }
}

.content {
  flex: 1;
  margin-left: 20px;

  @media (max-width: 768px) {
    margin-left: 0; // Remove left margin on mobile
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.mobileFilterButton {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8; // Adjust color to match your design
  border-top: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100; // Ensure it's always on top
}

.mobileFilterButton:hover {
  background-color: #eee;
}

@media (max-width: 768px) { /* Adjust the max-width value as needed for your mobile breakpoint */
  .grid {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of cards */
    gap: 2%; /* Space between cards */
    justify-content: space-between;

    grid-template-columns: repeat(2, 1fr); // Two columns for tablets and mobile
    gap: 10px;
  }
}

