// styles/FilterSidebar.module.scss
.sidebar {
  padding: 20px;

  @media (max-width: 768px) {
    padding: 10px; // Reduce padding for mobile
  }
}

.sidebar h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.searchInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.sidebar li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sizeButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 768px) {
    justify-content: center; // Center buttons on mobile
  }
}

.sizeButton {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}
