.sliderContainer {
  width: 100%;
  height: auto;

  .image {
    width: 100%;
    height: auto;
    object-fit: cover; // Ensures the images fit nicely
  }

  .swiper-pagination-bullet {
    background-color: #ddd;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: #e63946; // Active dot color
  }
}
