$product-primary-color: #ff5733;
$product-secondary-color: #333;
$product-accent-color: #999;
$product-bg-color: #fff;
$product-border-color: #ddd;
$product-disabled-color: #aaa;

.productPage {
  display: flex;
  padding: 20px;
}

.imageSection {
  flex: 1;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.productImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.detailsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.purchaseSection {
  font-family: 'Arial', sans-serif;
  color: $product-secondary-color;
  padding: 20px;
  max-width: 500px;

  .productTitle {
    font-size: 1.8rem;
    margin: 0;
    font-weight: bold;
  }

  .productSubtitle { //rename to product-category
    font-size: 1.2rem;
    color: $product-accent-color;
    margin: 5px 0 15px;
  }

  .priceInfo {
    font-size: 12px;
    color: $product-accent-color;
    margin: 5px 0 20px;
  }
}

//.productPrice {
//  font-size: 1.5rem;
//  color: #ff5733;
//  margin-bottom: 15px;
//}

.productDescription {
  font-size: 1rem;
  margin-bottom: 20px;
}

.sizeSelector {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sizeOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 768px) {
    justify-content: center;
  }

  .sizeButton {
    padding: 8px 16px;
    border: 1px solid #555;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #e0e0e0;
    }

    &.selectedSizeButton {
      background-color: #333;
      color: white;
    }
  }
}

.quantitySection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantityButton {
  padding: 5px 10px;
  background-color: #ff5733;
  color: white;
  border: none;
  cursor: pointer;
}

.quantityValue {
  font-size: 1.2rem;
  padding: 0 10px;
}

.buttonsSection {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.addToCartButton {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.1rem;
}

.addToWishlistButton {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.pincodeInput {
  padding: 8px;
  border: 1px solid #ddd;
}

.checkPincodeButton {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

.deliveryDetails {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .sizeOptions {
    justify-content: center;
  }

  .imageSection {
    grid-template-columns: 1fr;
  }
}
